.box-conatainer {
  width: 400px;
  min-height: 235px;
  height: fit-content;
  border-radius: 12px;
  border: 1px dotted #dadce0;
  background-color: #f6f8fa;
  padding: 15px;
  margin: 10px;
}

.new-ass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-ass h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #0073e6;
  padding: 12px 22px;
  border-radius: 50%;
  background-color: white;
  font-size: 40px;
}

.add-img{
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #0073e6;
  padding: 20px 22px;
  border-radius: 50%;
  background-color: white;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.new-ass h2 {
  font-size: 24px;
  color: #1c4980;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2px;
}

.new-ass p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #1c4980;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ass_name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-bottom: 2px dotted #dadce0;
}

.ass_name h3 {
  color: var(--text-100, #1c4980);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  margin-top: -35px;
}
.details span {
  color: #8da4bf;
}

.bottom-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time_ques {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.time_ques span h3 {
  color: var(--text-100, #1c4980);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
}

.time_ques span p {
  margin-top: -12px;
  color: var(--text-100, #1c4980);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
}

.bottom-details-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-details-right span {
  display: flex;
  height: 35px;
  padding: 4px 10px 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 50px;
  border: 1px solid #1c4980;
}

.bottom-details-right span p {
  color: #1c4980;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.userText {
  display: flex;
  padding: 12px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #6548ee;
  color: white !important;
  text-align: center;
  border-radius: 50%;
}

@media screen and (max-width: 726px) {
  .box-conatainer{
    width: fit-content;
    min-width: 87%;
    min-height: fit-content !important;
    padding: 10px;
  }
  .add-img{
    padding: 10px 12px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .new-ass h2{
    font-size: 18px;
  }
  .new-ass p{
    font-size: 14px;
    margin-top: 3px;
  }
  .mobile-view-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .images img{
    margin-right: 10px;
  }
  .ass_name{
    border-bottom : 0px
  }
  .ass_name h3{
    font-size: 18px;
    color: var(--text-100, #1C4980);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 8px;
  }
  .details {
    margin-top: -22px;
    flex-direction: row;
    gap: 2px
  }
  .details p{
    margin-top: 15px;
  }
  .details span{
    font-size: 14px;
  }
  .mobile-view-box-img{
    margin-top: 10px;
  }
  .time_ques span h3{
    font-size: 14px;
  }
  .time_ques span p{
    font-size: 12px;
  }
  .bottom-details-right span p{
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
  }
  .bottom-details-right span {
    height: 25px;
    padding: 5px 10px;
  }
  .userText{
    padding: 8px 9px;
    margin-top: 12px !important;
  }
  .userNo{
    margin-top: 10px !important;
    text-align: center;
  }

}




/* Model */

.model-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.35);
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-body{
  width: 40%;
  min-height: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px 0px 15px;
  
}

.model-header{
  display: flex;
  height: 70px;
  padding: 0px 10px ;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.model-header h1{
  color: var(--text-100, #1C4980);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.model-header img{
  color: black;
}

.model-input-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  width: 290%;
}

.model-input-box p{
  color: var(--text-100, #1C4980);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.model-input-box input{
  display: flex;
  height: 50px;
  width: 80%;
  padding: 2px 10px;
  font-size: 17px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--system-stroke-2, #DADCE0);
  background: #FFF;
  margin-top: -15px;
}

.model-input-box select{
  display: flex;
  height: 55px;
  width: 83%;
  padding: 2px 10px;
  font-size: 17px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--system-stroke-2, #DADCE0);
  background: #FFF;
  margin-top: -15px;
}

.model-select-skill{
  display: flex;
  padding: 0px 8px 0px 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  border-radius: 22px;
  background: var(--accent-blue-light, #DDEDFF);
}

.model-select-skill p{
  color: var(--text-100, #1C4980);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.model-skills{
  width: 78.5%;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--system-divider, #DDE5EA);
}

.model-skill-input{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.model-save-button{
  width: 95%;
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  background: #FFF;
  box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);
  background-color: white;
  margin-top: 10px;
  margin-left: -12px;
}

.model-save-button button{
  display: flex;
  height: 40px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--secondary-1, #0073E6);
  text-decoration: none;
  border: 0px;
  color: white;
  font-size: 19px;
}

@media screen and (max-width :726px) {
  .model-container{
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2 !important;
    justify-content: baseline;
    align-items: end;
    position: fixed;
  }
  .model-body{
    width: 100%;
    height: 700px;
    overflow: scroll;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .model-header{
    height: 60px;
    padding: 0px 5px ;
    position: fixed;
    background-color: white;
    width: 90%;
    top:18.5%;
  }
  .model-header h1{
    font-size: 20px;
  }
  .model-input-box{
    gap: 5px;
    width: 110%;
  }
  .model-input-box p{
    font-size: 16px;
  }
  .model-input-box input{
    height: 40px;
    padding: 2px 10px;
    font-size: 15px;
    margin-top: -10px;
  }
  .model-input-box select{
    height: 44px;
    width: 86%;
    padding: 2px 10px;
    font-size: 15px;
    margin-top: -10px;
  }
  .model-select-skill{
    padding: 0px 8px 0px 5px;
  }
  .model-select-skill p{
    font-size: 12px;
  }
  
  .model-skills{
    width: 77.2%;
    display: flex;
    padding: 16px;
    gap: 5px;
  }
  .model-save-button{
    width: 85vw;
    gap: 10px;
    position: absolute;
    bottom: 0px;
  }
  .model-save-button button{
    display: flex;
    height: 40px;
    padding: 10px 30px;
    font-size: 16px;
  }
}