.right-container {
  width: 100%;
  background-color: #ffffff;
  min-height: 750px;
  height: fit-content;
  border-radius: 10px;
}

.right-bottom-conatainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
