.nav-container {
  display: flex;
  height: 96.3vh;
  padding: 0.7% 0.9% 0.8% 1%;
  gap: 10px;
  width: 8%;
  flex-shrink: 0;
  background-color: white !important;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-divider {
  border: 1px dotted #bacbd5;
}
