.model-slide-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(31, 31, 31, 0.35);
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .model-slide-body{
    width: 60%;
    height: 100vh;
    background-color: white;
    padding: 5px 10px 0px 10px; 
    margin-top: -5px;
  }
  
  .model-slide-menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .model-slide-menu-header p{
    color: var(--text-100, #1C4980);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }